[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
pyyaml = "*"
pandas = "*"
numpy = "*"
requests = "*"
beautifulsoup4 = "*"
stopwords = "*"
nltk = "*"
scikit-learn = "*"
spacy = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
joblib = "*"
snowballstemmer = "*"
matplotlib = "*"
morfessor = "*"
lxml = "*"
deep-translator = "*"
langchain-groq = "*"
transformers = "*"
torch = "*"
pyicu = "*"
pycld2 = "*"
polyglot = "*"
tika = "*"
uwsgi = "*"
langchain-core = "*"
langchain-text-splitters = "*"
langchain = "*"
google-generativeai = "*"
googletrans = "*"
duckduckgo-search = "==6.3.5"
ollama = "*"
sentence-transformers = "*"
stanza = "*"
tiktoken = "*"
pyjwt = "*"
fastapi = "*"
python-dotenv = "*"
python-multipart = "*"
starlette = "*"
asyncio = "*"
crawl4ai = "*"
markdown = "*"
uvicorn = {extras = ["standard"], version = "*"}
langdetect = "*"
gunicorn = "*"
redis = "*"
celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.10"
